@import 'https://fonts.googleapis.com/css?family=Roboto';
@import 'https://fonts.googleapis.com/css?family=Playfair+Display';
@import 'reset.css';
@import 'hover.css';

/* GLOBAL STYLES */
.container {
    width: 960px;
    margin: 0 auto;
}

a {
    font-family: 'Roboto';
    font-size: 16px;
    text-decoration: none;
}

a.button {    
    text-transform: uppercase;    
    padding: 10px;
    border: 1px solid #00e0d0;    
    color: #00e0d0;    
}

p {    
    font-family: 'Roboto Light';
    font-size: 16px;
    line-height: 22px;
}

h1 {
    font-family: 'Playfair Display Black';
    font-size: 36px;
    line-height: 72px;
}

h2 {
    font-family: 'Playfair Display Bold';
    font-size: 22px;
    line-height: 36px;
}

h3 {
    font-family: 'Roboto Black';
    font-size: 14px;
}

hr {
    width: 50px;
}

/* NAVBAR */
nav {
    top: 30px;
    position: relative;
}

nav #menu {    
    float: right;
    margin-top:16px;
}

nav #menu li {
    display: inline;    
}

nav #menu li a {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px 0 10px;
    font-family: 'Roboto Black';
    font-size: 13px;
    color: #fff;
}

nav #menu li a:hover {
    color: #00e0d0;
}

nav #logo {
    float: left;
}

section .container {
    padding: 70px 0;
    color: #413d4b;
}

.fixed {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.clear {
    clear: both;
}

/* BANNER */
header {
    background-image: url('../images/header.jpg');
    width: 100%;
    height: 670px;    
}

header #banner {
    color:#fff;
    text-align: center;
    clear: both;
    position: relative;
    top: 200px;
}

header #banner hr {    
    border-color: #00e0d0;    
}

header #banner p {
    margin: 20px auto;
    width: 750px;    
}

header #banner a.button {
    top: 50px;
    position: relative;
}

/* OUR STORY */
#our-story .content {
    width: 550px;
    display: inline-block;
    position: relative;
    left: 100px;
}

#our-story .content p {
    padding: 10px 0;
}

#our-story a.button {
    display: inline-block;
    margin-top: 35px;
}

/* OUR STORY VIDEO */
#our-story-video {
    height: 550px;
    background-image: url('../images/our-story-video.jpg');    
}

#our-story-video a {    
    margin: 0 auto;
    width: 180px;
    display: block;
    background: url('../images/play-icon.png') no-repeat top center;
    padding-top: 125px;
    font-family: 'Roboto Black';
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;    
    color: #fff;
    top: 130px;
    position: relative;
}

/* EXPERTISE */
#expertise {
    text-align: center;
}

#expertise h3, #expertise img {
    margin-top: 35px;
}

#expertise hr {
    margin-top: 20px;
}

#expertise ul {
    margin-top: 50px;
    margin-left: 30px;
}

#expertise ul li {
    width: 300px;
    height: 250px;
    float: left;    
    border:1px solid #ebebeb;    
    border-top:0;
    border-left: 0;
}

#expertise ul li:nth-child(3n) {
    border-right: 0;
}

#expertise ul li:nth-child(n+4) {
    border-bottom: 0;
}